/**************************  WIDTH 1307 px  *************************/

@media (max-width:1307px) {
    #slider-container {
        height: 590px;
    }

    .slider {
        height: 600px;
    }

    .slider img {
        aspect-ratio: 15/8;
    }

    #categorias {
        max-width: 1100px;
    }

    .categ-card {
        width: 380px;
    }

    .categ-card:hover {
        width: 400px;
        height: 220px;
    }
}

/**************************  WIDTH 1200 px  *************************/

@media (max-width:1200px) {
    .logo img {
        width: 280px;
    }

    #barra-busqueda {
        width: 350px;
    }

    ul {
        font-size: 18px;
    }

    .sesion-cart {
        font-size: 14px;
    }

    .slider img {
        aspect-ratio: 14/9;
    }

    .ofer-redirect img {
        width: 430px;
        height: 280px;
    }

    .ofer-card {
        height: 370px;
    }

    .ofer-desc p {
        font-size: 14px;
    }

    .ofer-desc h3 {
        font-size: 16px;
    }

    #categorias {
        max-width: 1000px;
    }

    .categ-card {
        width: 300px;
    }

    .categ-card:hover {
        width: 320px;
    }

    .categ-card:hover p {
        font-size: 30px;
    }

    #productos-ofertas h2 {
        font-size: 30px;
    }

    .ofertas-container {
        padding: 5px;
        width: 100%;
    }

    .card-oferta {
        width: 300px;
        height: 380px;
    }

    .card-oferta:hover {
        width: 320px;
        height: 400px;
    }

    .card-oferta-top h3 {
        font-size: 12px;
    }

    .card-oferta-bot h3 {
        font-size: 11px;
    }

    .boton-de-oferta {
        font-size: 11px;
    }

    .form-container {
        width: 900px;
    }
}

/**************************  WIDTH 992 px  *************************/

@media (max-width:992px) {
    .login a {
        font-size: 8px
    }

    .login p {
        font-size: 8px;
    }

    #barra-busqueda {
        width: 290px;
        height: 20px;
    }

    #barra-busqueda::placeholder {
        font-size: 12px;
    }

    ul {
        font-size: 12px;
    }

    .logo img {
        width: 240px;
    }

    .envio {
        font-size: 10px;
    }

    .cart img {
        width: 20px;
        height: 20px;
    }

    .slider img {
        aspect-ratio: 11/9;
    }

    .ofer-card {
        height: 320px;
    }

    .ofer-container p {
        font-size: 12px;
    }

    .ofer-redirect img {
        width: 340px;
        height: 230px;
    }

    .categ-card {
        width: 245px;
        height: 155px;
    }

    .categ-card:hover {
        width: 270px;
        height: 180px;
    }

    .categ-card:hover p {
        font-size: 25px;
    }

    #productos-oferta h2 {
        top: -2%;
    }

    .ofertas-container {
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 60px;
        height: 615px;
    }

    .card-oferta {
        width: 230px;
        height: 290px;
    }

    .card-oferta-top h3 {
        font-size: 13px;
    }

    .card-oferta-bot h3 {
        font-size: 8px;
    }

    .card-oferta-bot img {
        width: 14px;
        height: 14px;
    }

    .boton-de-oferta {
        font-size: 9px;
        height: 21px;
    }

    .form-container {
        width: 700px;
    }

    .contacto-top {
        font-size: 14px;
    }

    .contacto-top h2 {
        font-size: 28px;
    }

    .contacto-top p {
        margin: 0px 100px;
    }

    #contacto label {
        font-size: 14px;
    }

    .input {
        height: 25px;
    }
}

/**************************  WIDTH 797 px  *************************/

@media (max-width:797px) {
    header {
        gap: 50px;
    }

    .logo-envio {
        width: 33%;
    }

    .logo img {
        width: 180px;
        height: 20px;
    }

    .envio p {
        font-size: 8px;
    }

    #barra-busqueda {
        width: 210px;
    }

    ul {
        font-size: 10px;
    }

    .login {
        width: 100%;
    }

    .cart-icon {
        width: 15px;
        height: 15px;
    }

    .navbar {
        width: 33%;
        position: relative;
        bottom: 5px;
    }

    .sesion-cart {
        position: relative;
        padding: 5px 3px;
        width: 33%;
        right: 5px;
        align-items: center;
        flex-direction: column-reverse;
        gap: 0;
        bottom: 4px;
    }

    .slider {
        height: 340px;
    }

    .slider img {
        aspect-ratio: 10/6;
    }

    #slider-container {
        height: 340px;
    }

    .title-container {
        height: 240px;
    }

    .ofer-desc {
        gap: 10px;
    }

    .ofer-desc h3 {
        font-size: 12px;
    }

    .ofer-button a {
        font-size: 10px;
    }

    .ofer-button:hover a {
        font-size: 12px;
    }

    .ofer-desc p {
        font-size: 10px;
    }

    .ofer-card {
        height: 210px;
    }

    .ofer-card img {
        width: 250px;
        height: 150px;
    }

    .categ-card {
        width: 175px;
        height: 110px;
    }

    .categ-card:hover {
        width: 195px;
        height: 130px;
    }

    .categ-card:hover p {
        font-size: 20px;
    }

    .grid-categ {
        gap: 10px;
    }

    .ofertas-container {
        flex-wrap: wrap;
        gap: 15px;
        height: 670px;
    }

    .card-oferta {
        width: 185px;
        height: 220px;
    }

    .card-oferta:hover {
        width: 210px;
        height: 245px;
    }

    .card-oferta:hover h3 {
        font-size: 10px;
    }

    #productos-oferta h2 {
        font-size: 22px;
    }

    .card-oferta-top {
        gap: 0;
    }

    .form-container {
        width: 520px;
        height: 600px;
    }

    .contacto-top {
        width: 350px;
        margin: auto 30px;
    }

    .contacto-top h2 {
        font-size: 24px;
    }

    .contacto-top p {
        font-size: 10px;
        margin: 0 0;
    }

    .register-item {
        width: 395px;
    }

    #contacto label {
        font-size: 10px;
    }

    .input {
        height: 20px;
    }

    .input::placeholder {
        font-size: 10px;
    }

    .select {
        height: 20px;
    }

    .slider-prov {
        width: 90%;
    }

    #cierre h4 {
        font-size: 12px;
    }

    #cierre h5 {
        font-size: 10px;
    }

    #cierre {
        margin: 35px auto 0;
        padding: 25px;
        gap: 10px;
    }
}

/**************************  WIDTH 600 px  *************************/

@media (max-width:600px) {

    #menu-list {
        display: none;
    }

    #menu-toggle {
        display: block;
    }

    #barra-busqueda {
        display: none;
    }

    .logo-envio {
        gap: 0;
    }

    .logo img {
        width: 150px;
        height: 15px;
    }

    .slider,
    #slider-container {
        height: 260px;
    }

    .title-container {
        height: 180px;
    }

    .ofer-desc {
        padding: 5px;
    }

    .ofer-card img {
        width: 170px;
        height: 120px;
    }

    .ofer-desc p {
        font-size: 8px;
    }

    .ofer-card {
        height: 190px;
        margin: 5px 0;
    }

    .categ-card {
        width: 135px;
        height: 110px;

    }

    .categ-card:hover {
        width: 160px;
        height: 135px;
    }

    .categ-card:hover p {
        font-size: 18px;
    }

    .card-oferta {
        width: 140px;
        height: 210px;
    }

    .card-oferta-top h3 {
        font-size: 9px;
    }

    .card-oferta-bot {
        gap: 2px;
    }

    .card-oferta {
        width: 150px;
        height: 230px;
    }

    .ofertas-container {
        height: 700px;
    }

    .form-container {
        width: 420px;
        height: 560px;
    }

    .contacto-top {
        width: 350px;
        margin: 60px 30px 0;
    }

    .slider-prov {
        flex-wrap: wrap;
    }

    .slider-prov img {
        width: 25%;
        height: 40%;
    }
}

/**************************  WIDTH 480 px  *************************/

@media(max-width:480px) {
    header {
        gap: 25px;
    }

    .cart img {
        width: 15px;
        height: 15px;
    }

    .logo img {
        width: 100px;
        height: 10px;
    }

    .envio p {
        font-size: 6px;
        width: 90px;
    }

    .envio img {
        width: 10px;
        height: 10px;
    }

    .login a {
        font-size: 6px;
    }

    .slider {
        height: 180px;
    }

    #slider-container {
        height: 170px;
    }

    .ofer-card {
        padding: 10px;
    }

    .ofer-card img {
        width: 110px;
        height: 90px;
    }

    .ofer-desc h3 {
        font-size: 10px;
        text-align: center;
    }

    .ofer-desc p {
        font-size: 6px;
    }

    .ofer-button a {
        right: 4px;
        font-size: 8px;
        position: absolute;
        bottom: 3px;
        width: 40px;
    }

    .ofer-button {
        position: relative;
        height: 20px;
    }

    .ofer-button:hover {

        width: 70%;
        height: 30px;
    }

}